.section-cardsimperio1{
    width: 100%;
    min-height: 100vh;
    background-color: #eee;    
}

.cardsnproduct{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.cardsnproduct .nuevos-productos{
    width: 100%;
    margin-top: 20px;    
}

.cardsnproduct .nuevos-productos h1{
    text-align: center;
    
    color: #222;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
}

.cardsnproduct .nuevos-productos h1:after{
    content: "";
    height: 5px;
    width: 325px;
    background-color: #222;
    border-radius: 5px;
    display: block;
    margin: auto;
}

.cardimp {   
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 2px 4px rgb(0,0,0,25%); 
    width: 325px;
    text-align: center;
    margin: 25px;
    cursor: pointer;
    background-color: #fff;
}

.img-sectionimp{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-sectionimp img{
    object-fit: contain;
    width: 100%;
    height: 200px;
}

.descripcion{
    text-align: center;
    margin-top: 20px;
}

.descripcion h2{
    font-size: 20px;
    text-transform: uppercase;
    color: #222;
    letter-spacing: 2px;
    margin-top: 10px;
} 

.descripcionimp p{
    font-size: 17px;
     margin-top: 10px;
}

.descripcionimp span{
    margin-left: 8px;
    color: red;    
}

.descripcionimp span #off{
    color: greenyellow;
}

.descripcionimp del{
    margin-left: 7px;
    font-size: 15px;
    color: #f2533a;
}

#delete{
    text-decoration: line-through;
}

.button-group{
    margin-top: 30px;
}



.button-group .detalles{
    background-color: black;
    font-size: 14px;
    padding: 8px 20px;
    border-radius: 5px;
    text-decoration: none;
    letter-spacing: 1px;
    color: #fff;
}

.button-group .detalles:hover{
    background-color: goldenrod;
    transition: 0.6s ease;    
}

.button-group .añadir{
    background-color: black;
    font-size: 14px;
    padding: 8px 20px;
    border-radius: 5px;
    text-decoration: none;
    letter-spacing: 1px;
    color: #fff;
}

.button-group .añadir:hover{
    background-color: goldenrod;
    transition: 0.6s ease;    
}

.star-icons{
    margin-top: 20px;
    margin-bottom: 10px;
}

.star-icons i{
    color: #db8b21;
    padding: 0px 3px;
    font-size: 18px;
}
/*
  @keyframes slidein {
    from {
      margin-left: 8%;
      width: 100%
    }
  
    to {
      margin-left: -32%;
      width: 150%;
    }
  }
*/