/* Three columns side by side */
.column {
  float: left;
  width: 33%;
  margin-bottom: 16px;
  padding: 0 8px;
}


  
/* Add some shadows to create a card effect */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.card img{
 width: 120px;
 height: 250px;
}

/* Some left and right padding inside the container */
.container {
  padding: 0 16px;
}

/* Clear floats */
.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button {
  margin: 1px 0px;
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  border-radius: 5px;
}
button.buttonProductos {
  margin: 15px 0px;
  font-size: 16px;
  background-color: black;
  color: white;
  text-align: center;
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
}

.button-all-products-container {
  display: flex;
  justify-content: center;
}

button.buttonProductos:hover {
  background-color: goldenrod;
  transition: 0.6s ease;
}

.button:hover {
  background-color: #555;
}

h2 {
  padding-bottom: 10px;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 10px;
  border-bottom: rgba(136, 128, 128, 0.42) 1px solid;
}
/* Display the columns below each other instead of side by side on small screens */
@media screen and (max-width: 768px) {
  .column {
    width: 100%;
    height: 71vh;
    display: block;
  }
}


/* Display the columns below each other instead of side by side on small screens */
@media screen and (min-width: 426px) and  (max-width: 768px){
.column {
  float: left;
  width: 50%;
  margin-bottom: 16px;
  padding: 0 8px;}
}

.categories-section {
  background-color: white;
  width: 100%;
  padding: 20px;
}

.home-categories {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.category-card {
  width: 100%;
  border-radius: 20px;
  margin: 20px 0;
  transition: all 1s ease;
  box-shadow: 0 0 5px var(--primary);
}

.category-card:hover{
  transform: scale(1.05);
  box-shadow: 0 0 20px var(--primary);
}

.category-card img{
  width: 100%;
  height: 70%;
  border-radius: 20px;
}

.banner {
  background: linear-gradient(45deg, transparent, white);
  padding: 20px;
  margin: 50px 0;
  width: 100%;
}

.banner img {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .categories-section {
      padding: 70px;
  }
  .home-categories {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
  }

  .category-card {
      width: 30%;
  }
}