.register {
    background-color: rgba(255, 255, 255, 0.5);
    display         : flex;
    justify-content : center;
    align-items     : center;

}

.register .card {
    position        : relative;
    width           : 420px;
    height          : fit-content;
    box-shadow: 0 0 10px var(--bordes);
    display         : flex;
    flex-direction  : column;
    align-items     : center;
    gap             : 9px;
    border-radius   : 10px;
    background: linear-gradient(
        150deg
        ,#0e0d0d, #d4af37, rgb(59, 47, 49));
    animation: BgGradient 5s ease infinite;
    margin: 50px;
    border: 1px solid #222222
}

.register .button:hover {
    border: 2px solid #d4af37;
    background: black;
}

.register .button--positionRegister {
   bottom: 20px;
   width: 100%;
   border-radius: 5px;
   transition: all 0.3s ease-in-out;
   outline: none;
   border: 2px solid #222222;
   margin-bottom: 15px;
}

.register label {
    display: flex;
    justify-content: initial;
    align-items: center;
    font-size: 13px;
    color: black;
}

.register .check {
    font-size: 10px;
    width: 100%;
}

.formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formulario .input-form {
    width: 260px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #222222;
    padding-left: 10px;
}

@media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
     
      margin-top: 0;
    }
}
.register h1{
    margin-top: 40px;
    font-weight: 500;
    margin-bottom: 25px;
}

.register .formulario .login-link {
    margin-bottom: 30px;
}

.register .formulario small {
    color: red;
}

@media screen and (min-width: 320px) and (max-width: 425px) {
    .register .card {
        margin: 50px 20px;
    }

    .formulario .input-form {
        width: 80%;
    }
}