<!DOCTYPE html>
<html lang="en">
<!-- HEAD-->
<%- include("../adminHead.ejs") %>

    <body>
        <!-- dashboard admin -->
        

            <div class="admin-content">
                <%- include("../adminHeader.ejs") %>

                    <main>
                        <h1>Editar categoria</h1>
                        <form action="/admin/categories/edit/<%=category.id%>?_method=PUT" method="POST">
                            <div class="form caja-agregar">
                                Nombre:<label for="category-name"><input class="input style-admin" type="text"
                                        name="name" id="category-name" required placeholder="Nombre de la categoria"
                                        value="<%= category.name %>" />
                                </label>
                                <button type="submit" class="btn-admin style-admin">
                                    EDITAR
                                </button>
                                <button class="btn-admin style-admin">
                                    <a href="/admin/categories" style="text-decoration: none; color: black;">CANCELAR</a>
                            </button>
                            </div>
                        </form>
                    </main>
            </div>
    </body>

</html>