<!DOCTYPE html>
<html lang="es">
<%- include ('../partials/head.ejs') %>
<body>
    <%- include('../partials/header.ejs') %>
    <main class="success">
        <div class="success-contain">
            <h2 class="success-text">Su compra ha sido exitosa</h2>
        </div>
        <div class="button-return-home">
            <a href="/">
                <button>Volver al sitio</button>
            </a>
        </div>
    </main>
    <%- include('../partials/footer.ejs') %>
</body>
</html>