<footer>
    <div class="logofooter">
        <img src="/images/logo/logo.png" alt="">
    </div>
    <div class="content">
        <div class="left box">
            <div class="upper">
                <div class="topic">Sobre nosotros</div>
                <p>Calidad y precio al servicio de nuestros clientes. Stilo Muebles es una empresa dedicada al mueble y la decoración de su hogar</p>
            </div>
            <div class="lower">
                <div class="topic">Contactanos</div>
                <div class="phone">
                    <a href="https://wa.me/543813842068?text=Hola%20necesito%20información" target="_blank"><i class="fas fa-phone-volume"></i>Nuestro whatsapp</a>
                </div>
                <div class="email">
                    <a href="mailto:mimperiosuscrip@gmail.com"><i class="fas fa-envelope"></i>mimperiosuscrip@gmail.com</a>
                </div>
            </div>
        </div>
        <div class="middle box">
            <div class="topic">Productos</div>
            <div><li class="dropdown-menu" onclick="dropSubCategoryMenu(`cocina`)">
                <a href="/cocina">cocina</a> </div>
            <div><li class="dropdown-menu" onclick="dropSubCategoryMenu(`comedor`)">
                <a href="/comedor">comedor</a></div>
            <div><li class="dropdown-menu" onclick="dropSubCategoryMenu(`dormitorio`)">
                <a href="/dormitorio">dormitorio</a></div>
            <div><li class="dropdown-menu" onclick="dropSubCategoryMenu(`living`)">
                <a href="/living">living</a></div>
            <div><li class="dropdown-menu" onclick="dropSubCategoryMenu(`oficina`)">          
                <a href="/oficina">oficina</a></div>
        </div>
        <div class="right box">
            <div class="topic">Te encantan nuestras ofertas? Suscribite</div>
            <form action="https://formsubmit.co/mimperiosuscrip@gmail.com" method="POST" target="_blank">   
                     
                <input type="email" name="email" placeholder="Ingresa tu mail">
                <input type="submit" name="" value="Suscribir">
                <div class="media-icons">
                    <a href="https://www.facebook.com/aquimuebles" target="_blank"><i class="fab fa-facebook-f"></i></a>
                    <a href="http://www.instagram.com/mimperiodh" target="_blank"><i class="fab fa-instagram"></i></a>
                    <a href="http://www.twitter.com/muebleimperio" target="_blank"><i class="fab fa-twitter"></i></a>
                    <a href="https://www.youtube.com/channel/UCb4EVobJV45LEGguKLpbbHA?" target="_blank"><i class="fab fa-youtube"></i></a>
                </div>
            </form>
        </div>
    </div>
    <div class="bottom">
        <p>Copyright © 2021 <a href="https://github.com/RicardojArroyo/grupo_1_muebleiaImperio_c8" target="_blank">Grupo 1 Com. 8 Formar - Digital House</a> derechos reservados</p>
    </div>
</footer>