<div class="sliderofer">
    <ul>
        <li>
            <img src="/images/banners/banner5.jpg">
        </li>
        <li>
            <img src="/images/banners/banner6.jpg">
        </li>
        <li>
            <img src="/images/banners/banner7.jpg">
        </li>
        <li>
            <img src="/images/banners/banner5.jpg">
        </li>
    </ul>
</div>