<section class="categories-section">
    <div class="home-categories">
        <div class="category-card">
            <a href="/comprar"><img src="\images/tarjetitas/comocomprar.jpg" alt=""></a>
        </div>
        <div class="category-card">
            <a href="/envios"> <img src="\images\tarjetitas\comoenvios.jpg" alt=""></a>
        </div>
        <div class="category-card">
            <a href="/contacto"> <img src="\images\tarjetitas\contactanos.jpg" alt=""></a>
        </div>
    </div>
     
</section>