<!DOCTYPE html>
<html lang="es">
    <%- include ('../admin/adminHead.ejs') %>
<body>
    <%- include ('../admin/adminHeader.ejs') %>
    <%- include('partials/adminSidebar') %>
    <h2>Bienvenid@  <%- user.name %></h2>
</body>
</html>