<header class="admin-header">
    <nav class="nav-admin">
        <h4><a href="/admin">Mueblería Imperio Admin</a></h4>
        <!-- <ul>
            <li class="admin-li"><a href="/admin/products">Productos</a></li>
            <li class="admin-li"><a href="/admin/categories">Categorias</a></li>
            <li class="admin-li"><a href="/admin/users">Usuarios</a></li>
            <li class="admin-li"><a href="http://localhost:3000">Tienda</a></li>
        </ul> -->
    </nav>
</header>