<!DOCTYPE html>
<html lang="es">

<%- include ('../partials/head.ejs') %>

<body>
  <%- include('../partials/header.ejs') %>

  <main class="home">
    <div class="password">
      <form action="https://formsubmit.co/mimperiosuscrip@gmail.com" method="POST" target="_blank" class="card">
        <h1>Cambiar contraseña</h1>
        <h3>Te enviaremos un email para que puedas cambiar tu contraseña.</h3>
        <div>
          <label for="email">Email:</label>
          <input type="email" placeholder="Ingrese email" name="email" required><br>
        </div>
        <input type="submit" role="button" value="Enviar" class="button button--positionEnviar">
        <div>
      </form>
    </div>
  </main>

  <%- include('../partials/footer.ejs') %>
</body>

</html>